// =========== All JavaScript Plugins ===============
script(src="assets/js/modernizr.min.js")
script(src="assets/js/jquery.min.js")
script(src="assets/js/jquery-migrate.min.js")
script(src="assets/js/popper.min.js")
script(src="assets/js/bootstrap.min.js")