doctype html
html
    head
        include inc/meta-tags
        title   Starter Template
        include inc/styles
    body
        include inc/header
        include inc/footer
        include inc/scripts
